.product-box {
    padding-top: 15px;
    margin: 1.75em;
    border: 2px solid black;
    width: 20%;
    height:190px;
    float: left;
    text-align: center;
    }

#result{
    width : 250px;
    height: 250px;
    display: block;
}

#product_add {
    padding-left: 20px;
    padding-top: 15px;
}

#box-container{
    width: 100%;
    height: 500px;
    display: block;
    margin: 0px;
}

#name {
    margin-bottom: 100px;
}

#container {
    background-color: white;
    padding-top: 20px;
    font-family: sans-serif;
    width: 65%;
    overflow: visible;
    margin:auto;
}

.produkti {
    box-shadow: 10px 10px 5px grey;
    width: 25%;
    height:160px;
}

#headingh2 {
    margin-left: 100px;
}

p {
    text-align: center;
}

body {
    font-family: serif;
    background-color: #215270;
}

h1 {
    margin-left: 600px;
}



h3 {
    color: black;
}